body,
html {
  margin: 0;
  padding: 0;
  font-family: "Radio Canada Big", sans-serif;
  background: #12130F;
  color: #EAE6E5;
}

/* Header */

.header {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  background: #5a493b;
  align-items: center;
  padding: 0 1em;
  box-shadow: 0 1px 5px black;
}

.header-name {
  margin-right: auto;
  font-weight: bold;
  font-size: 2em;
}

.header-link {
  padding-left: 0.5em;
}

.header-name,
.header-link {
  color: #EAE6E5;
  text-decoration: none;
  transition: color 1s;
}

.header-name:hover,
.header-link:hover {
  color: #8FCB9B;
  transition: color 1s;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 1em;
  height: 2em;
  background: #5a493b;
}

.footer img {
  height: 1em;
}

/* General page stylings */

.header,
.footer {
  position: fixed;
  z-index: 1;
}

a {
  color: #8FCB9B;
  text-decoration: none;
}

a:active {
  color: #5B9279;
}

a:hover {
  color: #5B9279;
  transition: color 1s;
}

.page-section {
  padding-top: 3.7em;
}

.page-section > * {
  padding: 0 1rem;
}

/* .page-section h2,
.page-section h3,
.page-section p,
.page-section ul {
  padding: 0 1em;
} */

.page-head {
  position: relative;
  font-size: 1.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #5B9279;
  color: #ffffff;
  width: auto;
}

.portfolio-nav {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  background: #8FCB9B;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.portfolio-nav::-webkit-scrollbar {
  display: none;
}

.portfolio-navlink {
  margin-right: 1rem;
  padding: 0.2em 0.8em;
  text-decoration: none;
  font-weight: bold;
  background: #1c2024;
  border-radius: 5px;
  width: auto;
  color: #5B9279;
  transition: color 1s;
}

.portfolio-navlink:hover,
.portfolio-navlink:active {
  color: #8FCB9B;
}

@media (min-width: 1366px) {
  .header {
    text-align: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    height: auto;
    width: 30em;
    padding: 0;
  }

  .header-name {
    margin: 0.2em auto;
  }

  .navlink-container {
    display: flex;
    flex-direction: column;
  }

  .page-section {
    padding: 0 0 0 30rem;
  }

  .page-head {
    margin-top: 0;
  }
}