body,
html {
  margin: 0;
  padding: 0;
  min-height: 500px;
  font-family: "Radio Canada Big", sans-serif;
  background: rgb(15, 0, 24);
  background: -moz-linear-gradient(
    90deg,
    rgba(15, 0, 24, 1) 0%,
    rgba(24, 0, 38, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(15, 0, 24, 1) 0%,
    rgba(24, 0, 38, 1) 100%
  );
  background: linear-gradient(90deg, rgba(15, 0, 24, 1) 0%, #180026 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0018",endColorstr="#180026",GradientType=1);
  color: #eae6e5;
}

/* Header */

.header {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5em;
  background: #151612;
  border-bottom: 2px solid rgb(99, 99, 99);
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.header-name,
.header-link {
  color: #fff;
  text-decoration: none;
}

.header-name {
  font-size: 0.7em;
}

.header-link,
.portf-link,
.contact-link {
  font-size: 1.5em;
  padding-left: 0.5em;
}

.header-name:hover,
.header-link:hover,
.portf-link:hover {
  color: #9857bd;
  transition: color 1s;
}

/* Footer */

.footer {
  color: #eae6e5;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 1em;
  height: 2em;
  border-top: 2px solid rgb(99, 99, 99);
  background: #151612;
}

.footer img {
  height: 1em;
}

/* Home page */

.home {
  height: 100%;
}

.js-text {
  background: rgb(255, 253, 186);
  background: -moz-linear-gradient(
    30deg,
    rgba(255, 253, 186, 1) 0%,
    rgba(255, 247, 38, 1) 35%,
    rgba(255, 255, 171, 1) 100%
  );
  background: -webkit-linear-gradient(
    30deg,
    rgba(255, 253, 186, 1) 0%,
    rgba(255, 247, 38, 1) 35%,
    rgba(255, 255, 171, 1) 100%
  );
  background: linear-gradient(
    30deg,
    rgba(255, 253, 186, 1) 0%,
    rgba(255, 247, 38, 1) 35%,
    rgba(255, 255, 171, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffdba",endColorstr="#ffffab",GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-text {
  background: rgb(144, 255, 240);
  background: -moz-linear-gradient(
    90deg,
    rgba(144, 255, 240, 1) 0%,
    rgba(133, 213, 244, 1) 45%,
    rgba(70, 252, 221, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(144, 255, 240, 1) 0%,
    rgba(133, 213, 244, 1) 45%,
    rgba(70, 252, 221, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(144, 255, 240, 1) 0%,
    rgba(133, 213, 244, 1) 45%,
    rgba(70, 252, 221, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#90fff0",endColorstr="#46fcdd",GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-body {
  margin-top: 48px;
  font-size: 2em;
  text-align: center;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
  height: 500px;
}

.slideshow-slider {
  white-space: nowrap;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Contact page */

.email-small-field,
.email-message,
.email-send {
  padding: 0 0.5em;
  font-family: "Radio Canada Big", sans-serif;
  border: 0;
  box-shadow: 0 1px 1px black;
  border-radius: 10px;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.name-and-email,
.message-and-button {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.email-small-field {
  height: 2em;
  font-size: 1em;
}

.email-message {
  height: 10em;
  padding-top: 0.5em;
  resize: none;
}

.email-send {
  color: #eae6e5;
  font-size: 1.5em;
  font-weight: bold;
  background: #5a3072;
  height: 2em;
  max-width: 4em;
  align-self: center;
}

.portf-link-container,
.contact-link-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.portf-link {
  color: #151612;
}

.portf-link,
.contact-link {
  text-decoration: none;
}

/* About page */

.techstack-list {
  list-style-type: none;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 100px 100px 100px;
  gap: 10px;
  width: 450px;
  margin: 0;
}

/* General page stylings */

.strong {
  font-weight: bold;
}

.header,
.footer {
  position: fixed;
  z-index: 1;
}

.body-link {
  color: #c561ff;
  text-shadow: 0;
  text-decoration: none;
}

.body-link:hover {
  text-shadow: 0 1px 5px #8b8b8b;
  transition: text-shadow 1s;
}

.page-section,
.contact-page-section {
  padding-top: 2em;
  padding-bottom: 3em;
}

.page-section p {
  line-height: 1.7;
}

.page-section > * {
  padding: 0 1rem;
}

.page-section ul {
  margin-left: 1em;
}

.page-head {
  position: relative;
  font-size: 1.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #1c002c;
  border-bottom: 2px solid rgb(99, 99, 99);
  color: #ffffff;
  width: auto;
}

.portfolio-nav {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  background: #42135e;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.portfolio-nav::-webkit-scrollbar {
  display: none;
}

.portfolio-navlink {
  margin-right: 1rem;
  padding: 0.2em 0.8em;
  text-decoration: none;
  font-weight: bold;
  background: #5a3072;
  border: 0;
  font-family: "Radio Canada Big", sans-serif;
  font-size: 1em;
  border-radius: 5px;
  width: auto;
  color: #ffffff;
  transition: color 1s;
}

.portfolio-navlink:hover,
.portfolio-navlink:active {
  color: #ac6bd1;
}

.rounded {
  margin: 8px 0;
  width: 3em;
  border-top: 2px solid #fff;
  border-radius: 2px;
}

.mobile-hidden {
  display: none;
}

.disabled {
  color: #d4d4d4;
  cursor: not-allowed;
}

.disabled:hover {
  color: #d4d4d4;
}

.disclaimer {
  color: #919191;
  text-align: center;
}

.project-information {
  background: #42135e;
  padding-top: 0;
}

.project-info-header {
  margin-top: 0;
}

/* Contact page */

.contact-link {
  color: #eae6e5;
  transition: color 1s;
}

.contact-link:hover,
.contact-link:active {
  color: #8d00df;
}

.email-small-field,
.email-message {
  background: #151612;
  color: white;
  box-shadow: none;
  border: 0.5px solid #919191;
}

@media (min-width: 1366px) {
  .header {
    text-align: center;
    position: fixed;
    justify-content: start;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    height: auto;
    width: 6em;
    padding: 0;
    margin: 1em 1em 3em;
    border: 2px solid rgb(99, 99, 99);
    border-radius: 3em;
  }

  .header-name,
  .header-link {
    font-size: 2em;
  }

  .header-name {
    padding: 0.5em 0;
  }

  .header-link {
    margin-top: 0.5em;
    padding: 0;
  }

  .home-head {
    font-size: 6em;
    margin: 0.25em 0;
  }

  .home-body {
    font-size: 3em;
    text-align: left;
    width: 30%;
  }

  .navlink-container {
    display: flex;
    flex-direction: column;
  }

  .page-section,
  .contact-page-section {
    padding: 0 0 3em 8em;
  }

  .page-section p {
    line-height: 1.3;
  }

  .page-head {
    margin-top: 0;
    border-radius: 0 0 0 1em;
    border-left: 2px solid rgb(99, 99, 99);
    border-bottom: 2px solid rgb(99, 99, 99);
  }

  .portfolio-nav {
    border-radius: 5px 0 0 5px;
  }

  .email-and-info-container {
    display: flex;
  }

  .contact-info {
    flex-basis: 50%;
  }

  .email-form {
    width: 50%;
  }

  .name-and-email {
    justify-content: space-around;
    min-width: auto;
  }

  .mobile-hidden {
    display: inline-block;
  }

  .desktop-hidden {
    display: none;
  }
}
