<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
            <h1>Find your film</h1>
            <a href="watchlist.html">My Watchlist</a>
        </header>
        <section id="search">
            <input id="movie-search" placeholder="Search for a movie" type="search">
            <button id="search-button">Search</button>
        </section>
        <main id="search-results">
            <div id="empty-search">
                <img src="images/reel.png">
                <h3>Start exploring</h3>
            </div>
        </main>
        <script src="index.js"></script>
    </body>
</html>