<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
            <h1>My Watchlist</h1>
            <a href="index.html">Search for movies</a>
        </header>
        <main id="watchlist">
            <div id="empty-search">
                <h3>Your watchlist is looking a little empty...</h3>
                <div class="add-to-watchlist">
                    <img src="images/add.png">
                    <p>Let's add some movies!</p>
                </div>
            </div>
        </main>
        <script src="watchlist.js"></script>
    </body>
</html>